.product-page{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.navigation{
  display: flex;
  width: 65%;
  justify-content: flex-end;
  height: auto;
}
.back{
  border: none;
  background: none;
  font-size: 56px;
}
.container-product{
  width: 65%;
  padding-bottom: 5%;
}
.product{
width: 100%;
  display: flex;
  justify-content: center;
}
.product-left{
  width: 55%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}
.product-left img{
  width: 100%;
  object-fit: cover;
}
.product-left h1{
font-size: 36px;
font-weight: 500;
margin-bottom: 10px;
}
.product-right{
  width: 45%;
  padding: 2%;
  margin-top: 4%;
  display: flex;
  flex-direction: column;
}

.calculator-description{
width: 100%;
font-size: 18px;
color:#555;
margin-bottom: 20px;
}
.sail{
  width: 40%;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  border: none;
  background-color: #e28b4e;
  color: white;
}
.order-sail{
  width: 100%;
  display: flex;
  justify-content: center;
}
.product-info{
    width: 100%;
}
.calculate-button {
  width: 35%;
  color: rgb(0, 0, 0);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}
.calculate-button:hover {
  color: #e28b4e;
}
.calculator {
  width: 100%;
  margin-top: 20px;
  transition: max-height 0.3s ease;
  overflow: hidden;
}
.calculator-row {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
}
.calculator-row checbox {
  margin-right: 50px;
}
.calculator-row label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}
.calculator-row select,
.calculator-row input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}
.calculator-row select:focus,
.calculator-row input:focus {
  border-color: #e28b4e;
}
.product-page .calculator-row label {
display: flex;
align-items: center;
font-size: 18px; 
}
.product-page .calculator-row input[type="checkbox"] {
  width: 20px; 
  height: 20px; 
  margin-right: 10px; 
}
.product-page .calculator-row .description {
  font-size: 16px; 
  color: rgb(134, 134, 134); 
  margin-left: 30px; 
}
.product-page .calculator select {
  font-size: 18px; 
}
.product-page .calculator input[type="number"] {
  font-size: 18px;
}
.product-page .calculated-price {
  font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-align: center;
}
.product-page .sail {
  font-size: 20px;
}
.opisanie {
  margin-top: 30px;
}
.opisanie h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}
.info-item {
  display: flex;
  align-items: flex-start;
  padding: 10px;
  background-color: #fff;
  transition: background-color 0.3s ease;
}
.info-item:hover {
  background-color: #f1f1f1;
}
.info-marker {
  font-size: 20px;
  color: #000000;
  margin-right: 10px;
}
.info-item p {
  margin: 0;
  font-size: 18px;
  color: #555;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .navigation {
    width: 80%;
    justify-content: flex-end; 
    font-size: 32px;
  }
  .back {
    font-size: 30px; 
  }
  .container-product {
    width: 85%; 
  }
  .product {
    flex-direction: column; 
    align-items: center;
  }
  .product-left,
  .product-right {
    width: 100%; 
    padding: 2%;
  }
  .calculator-description {
    font-size: 18px; 
  }
  .sail {
    width: 70%; 
    font-size: 16px; 
  }
  .calculator-row select,
  .calculator-row input {
    padding: 6px; 
    font-size: 16px; 
  }
  .calculated-price {
    font-size: 18px; 
  }
  .opisanie h3 {
    font-size: 18px; 
  }
  .info-marker {
    font-size: 18px; 
    margin-right: 6px; 
  }
  .info-item p {
    font-size: 18px; 
  }
}

@media (max-width: 425px) {
  .navigation {
    width: 90%;
    justify-content: flex-end; 
  }
  .back {
    font-size: 24px; 
  }
  .container-product {
    width: 95%; 
  }
  .product {
    flex-direction: column; 
    align-items: center;
  }
  .product-left,
  .product-right {
    width: 100%; 
    padding: 2%;
  }
  .sail {
    width: 80%; 
  }
  .calculator-description{
    font-size: 14px;
  }
  .calculator-row select,
  .calculator-row input {
    padding: 4px; 
    font-size: 14px; 
  }
  .product-page .calculator-row label {
    display: flex;
    align-items: center;
    font-size: 14px; 
  }
  .product-page .calculator-row input[type="checkbox"] {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
  }
  .product-page .calculator-row .description {
    font-size: 14px; 
    color: rgb(134, 134, 134); 
    margin-left: 30px; 
  }
  .product-page .calculator select {
    font-size: 18px; 
  }
  .product-page .calculator input[type="number"] {
    font-size: 18px;
  }
  .calculated-price {
    font-size: 14px; 
  }
  .opisanie h3 {
    font-size: 16px; 
  }
  .info-marker {
    font-size: 14px; 
    margin-right: 4px; 
  }
  .info-item p {
    font-size: 14px; 
  }
}