.product-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navigation{
    display: flex;
    width: 65%;
    justify-content: end;
    height: auto;
}
.back{
    border: none;
    background: none;
    font-size: 56px;
}
.conteiner{
    width: 80%;
}
.product{
    display: flex;
    justify-content: center;
}
.product-left{
    width: 55%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product-left img{
    width: 80%;
    object-fit: cover;
}
.product-right{
    width: 45%;
    padding: 1%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
}
.product-right h1{
    font-size: 36px;
    font-weight: 500;
}
.product-right p{
    font-size: 24px;
    margin-top: 10px;
}
.sail{
    width: 30%;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #e28b4e;
    color: white;
}
.product-info{
    width: 90%;
    padding: 35px;
}
.product-info h3{
   font-size: 24px;
}
.product-info p{
    font-size: 18px;
}
.calculate-button {
    width: 35%;
    color: rgb(0, 0, 0);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .calculate-button:hover {
    color: #e28b4e;
  }
  .calculator {
    max-width: 400px;
    margin-top: 20px;
    transition: max-height 0.3s ease;
    overflow: hidden;
  }
  
  .calculator-row {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
  }
  
  .calculator-row label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .calculator-row select,
  .calculator-row input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .calculator-row select:focus,
  .calculator-row input:focus {
    border-color: #007BFF;
  }
  
  .calculated-price {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    text-align: center;
  }
  .opisanie {
    margin-top: 10px;
    padding: 10px;
  }
  .opisanie h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 15px;
  }
  .info-item {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    background-color: #fff;
    transition: background-color 0.3s ease;
  }
  .info-item:hover {
    background-color: #f1f1f1;
  }
  .info-marker {
    font-size: 20px;
    color: #000000;
    margin-right: 10px;
  }
  
  .info-item p {
    margin: 0;
    font-size: 16px;
    color: #555;
  }