.contact {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 243, 243);
    padding-bottom: 10%;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 5%;
    padding-bottom: 2%;
}

.contact-block {
    width: 70%; 
    display: flex;
    flex-wrap: wrap;
}

.contact-info-main {
    width: 40%; 
    padding: 2%;
}

.contact-info {
    padding: 2%;
}

.title-contacts {
    width: 100%;
    font-size: 1.5rem;
    padding-bottom: 2%;
    color: rgb(224, 123, 76);
}

.phone,
.email,
.adress {
    display: flex;
    align-items: center;
}

.publics {
    padding: 2%;
    padding-top: 10%;
}

.publics h3 {
    font-size: 1.7rem;
    color: rgb(224, 123, 76);
    padding-bottom: 2%;
}

.img-social {
    display: flex;
    align-items: center;
}

.imgcon1 {
    width: 35px;
    height: 35px;
}

.imgcon2 {
    width: 37px;
    height: 37px;
}

.map {
    width: 60%;
    height: auto;
    padding-left: 2%;
    padding-right: 2%;
}
#map{
    width: 100%;
    height: 450px;
}
.maps {
    width: 100%;
    height: auto; 
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (max-width: 425px) {
    .contact-block {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .contact-info-main,
    .map {
        width: 100%;
        text-align: center;
    }

    .title {
        font-size: 1rem;
    }

    .title-contacts,
    .publics h3 {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }

    .phone p,
    .email p,
    .adress p {
        font-size: 0.9rem;
    }

    .phone img,
    .email img,
    .adress img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-left: 40px;
    }

    .img-social {
        flex-direction: row;
        justify-content: center;
    }

    .imgcon1 {
        width: 20px;
        height: 20px;
    }

    .imgcon2 {
        width: 35px;
        height: 35px;
    }

    #map {
        height: 300px;
    }
}

/* Медиа-запрос для планшетов */
@media only screen and (max-width: 768px) {
    .contact-block {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .contact-info-main,
    .map {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        text-align: center;
    }
    .title {
        font-size: 1.5rem; 
    }
    .title-contacts,
    .publics h3 {
        font-size: 1.5rem; 
    }
    .phone p,
    .email p,
    .adress p {
        font-size: 1.2rem; 
    }
    .phone img,
    .email img,
    .adress img {
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }
    .img-social {
        flex-direction: row;
        justify-content: center;
    }
    .imgcon1 {
        width: 23px; 
        height: 23px;
    }
    .imgcon2 {
        width: 35px; 
        height: 35px;
    }
    #map {
        height: 400px; 
    }
}
