.catalog{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conteiner-slider{
  background-color:rgb(243, 243, 243); 
  padding: 5%;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.block1{
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgmast img{
  width: 100%;
}

.texth{
  padding-top: 2%;
  font-size: 1.5rem;
  font-weight: bold;
}

.textp{
  padding-top: 2%;
  width: 70%;
  font-size: 22x;
}

.shop-container {
  width: 80%;
  display: flex;
  justify-content: center;
  padding: 0 50px 0 50px;
}

.category-list {
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between;
  width: 50.5%;
}

.category-list select {
  width: 35%;
  padding: 10px;
  font-size: 22px;
  background-color: #ffffff;
  cursor: pointer;
}

.category-list select:hover {
  background-color: #e28b4e;
}

.category-list select option {
  padding: 10px;
  background-color: #ffffff;
}

.category-list select option:hover {
  background-color: #e28b4e;
}

.category-list select option:checked {
  background-color: #e28b4e;
  color: white;
}

.category-list ul {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.category-list li {
  font-size: 1.1rem;
}

.category-list li p {
  padding: 10px;
  margin: 0;
  cursor: pointer;
  border: 1px solid #ebeaea;
  border-top: none;
  background-color: #ffffff;
  transition: background-color 0.3s ease;
}

.category-list li p:hover {
  background-color: #e28b4e;
}

.category-list li.active p {
  background-color: #e28b4e;
}

.category-list input[type="text"] {
  width: 30%;
  padding: 10px;
  font-size: 22px;
  background-color: #ffffff;
  border: 1px solid #ebeaea;
}

.product-list-main{
  width: 80%;
  display: flex;
  flex-direction: column;
}

.product-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  transition: opacity 0.3s ease-out;
  margin-bottom: 5%;
}

.product-card {
  width: 300px;
  height: 400px;
  transition: box-shadow 0.3s ease;
  border-bottom: 1px solid #000000;
}

.product-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: 70%; 
  object-fit:cover;
}

.product-card p {
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10%;
}

.pagination button {
  background-color: #e28b4e;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  margin: 0 10px;
}
@media only screen and (min-width: 426px) and (max-width: 768px) {
  .shop-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 50px 0 50px;
  }
  .product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
  }
  .product-list-main{
    padding-left: 0px;
  }
  .product-card {
    width: 250px;
    height: 300px;
  }
  .texth {
    font-size: 1.3rem;
  }
  .textp {
    width: 100%;
    font-size: 1rem;
  }
  .category-list {
    padding: 20px;
    width: 75%;
  }
  .category-list select,
  .category-list input[type="text"] {
    width: 40%;
    font-size: 18px;
    padding: 8px;
  }
  .pagination button {
    padding: 8px 12px;
    font-size: 14px;
  }
}
@media only screen and (max-width: 425px) {
  .conteiner-slider{
    padding: 25px;
    
  }
  .shop-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 25px 0 25px;
  }
  .product-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 50px;
  }
  .product-list-main{
    padding-left: 0px;
  }
  .product-card {
    width: 300px;
    height: 350px;
  }
  .texth {
    font-size: 32px;
  }
  .textp {
    width: 100%;
    font-size: 14.4px;
  }
  .category-list {
    padding: 10px;
    width: 75%;
  }
  .category-list select,
  .category-list input[type="text"] {
    width: 45%;
    font-size: 14.4px;
    padding: 5px;
  }
  .pagination button {
    padding: 8px 12px;
    font-size: 14px;
  }
}
  
