.footer {
    background-color: #2c2e31;
    width: 100%;
    height: auto;
}

.content-footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    column-gap: 10px;
    align-items: center;
    padding: 2%;
}

.footerh {
    color: rgb(224, 123, 76);
    font-size: 1.4rem;
    text-align: center; 
}

.footeremail {
    color: white;
    text-align: center; 
}

.footersocial {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.footersocial img {
    max-width: 100%;
    margin: 0 10px; 
}
.imgcon2 {
    max-width: 35px; 
    height: auto; 
}
.imgcon{
    width: 48px;
    height: auto;
}
.copyrite {
    color: rgb(224, 123, 76);
    font-size: 0.8rem;
    text-align: center; 
    margin-bottom: 10px;
}

/* Медиа-запрос для планшетов */
@media only screen and (min-width: 426px) and (max-width: 768px) {
    .content-footer {
        padding: 1%;
    }
    .footerh {
        font-size: 1.1rem;
    }
    .footeremail h3 {
        font-size: 0.9rem;
    }
    .copyrite {
        font-size: 0.7rem;
    }
    .footersocial {
        padding: 0;
        margin-bottom: 5px; 
    }
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (max-width: 425px) {
    .footerh {
        font-size: 1rem;
    }
    .footeremail h3 {
        font-size: 0.8rem;
    }
    .footersocial img {
        padding: 0;
        margin: 5px 0; 
    }
    .copyrite {
        font-size: 0.6rem;
        margin-bottom: 5px;
    }
}
