.admin-container {
  display: flex;
  background-color: #f8f9fa;
  min-height: 100vh;
}

.admin-sidebar {
  width: 300px;
  background-color: #343a40;
  color: #fff;
  padding-left: 20px;
  padding-top: 20px;
}

.admin-sidebar ul {
  list-style-type: none;
  padding: 0;
  
}

.admin-sidebar ul li {
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  background-color: #e28b4e;
  padding: 10px 20px;
}

.admin-sidebar ul li:hover {
  background-color: #fff;
  color: #000;
}

.admin-content {
  flex: 1;
  padding: 30px;
}

.admin-list h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.admin-actions {
  margin-top: 20px;
  font-size: 18px;
}

.admin-list ul {
  list-style: none;
  padding: 0;
}

.admin-list img {
  width: 100px;
}
.admin-list ul li {
  background-color: #fff;
  border: 1px solid #dee2e6;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
}

.admin-list ul li:hover {
  background-color: #f8f9fa;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-category {
  width: 300px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.modal-category h2 {
  margin-top: 0;
}

.modal-category input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.cancel-button {
  background-color: #ccc;
  color: #333;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.products-table th,
.products-table td {
  
  padding: 8px;
  text-align: center;
}

.products-table th {
  background-color: #f2f2f2;
}

.products-table img {
  max-width: 100px;
  height: auto;
}

.edit-button {
  color: #28a745; 
  border: none;
  background: none;
  cursor: pointer;
  font-size: 28px;
  margin-right: 20px;
}

.delete-button {
  color: #dc3545; 
  border: none;
  background: none;
  cursor: pointer;
  font-size: 30px;
  margin-right: 10px;
}

.add-button {
  background-color: #e28b4e;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
}

.add-button:hover {
  background-color: #e27639;
}

.modal-product{
  width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pagination-buttons {
  text-align: center;
}

.pagination-buttons button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 30px;
  margin: 0 5px;
}

.add-button-circle {
  position: absolute;
  top: 120px;
  right: 40px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #e28b4e;
  color: #fff;
  font-size: 32px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button-circle:hover {
  background-color: #e27639;
}

.add-button-circle:active {
  background-color: #e27639;
}
.pagination-admin {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

.pagination-admin button {
  background-color: #e28b4e;
  color: white;
  border: none;
  padding: 10px 15px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination-admin button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination-admin span {
  margin: 0 10px;
}